<?php echo $this->doctype(); ?>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <?php echo $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0');
    ?>

    <?php echo $this->headTitle('S0m register')->setSeparator(' - ')->setAutoEscape(false); ?>

    <!-- Le styles -->
    <?php echo $this->headLink(
        [
            'rel' => 'shortcut icon',
            'type' => 'image/vnd.microsoft.icon',
            'href' => $this->basePath('/img/favicon.ico')
        ]
    )
        ->appendStylesheet($this->basePath('/themes/s0m/css/plugins/normalize.css'))
        ->appendStylesheet($this->basePath('/themes/s0m/css/plugins/font-awesome.min.css'))
        ->appendStylesheet($this->basePath('/themes/s0m/css/plugins/materialize.min.css'))
        ->appendStylesheet($this->basePath('/themes/s0m/css/main.css'))
        ->appendStylesheet($this->basePath('/themes/s0m/css/auth.css'))
        ->appendStylesheet($this->basePath('/themes/s0m/css/plugins/flexstrap.min.css'))
        ->appendStylesheet($this->basePath('/themes/s0m/css/plugins/flexstrap-assets.css'))
        ->appendStylesheet('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet')
        ->appendStylesheet('https://fonts.googleapis.com/icon?family=Material+Icons')
    ?>

    <!-- Scripts -->
    <?php echo $this->headScript()
        ->appendFile($this->basePath('/themes/s0m/js/plugins/jquery.min.js'))
        ->appendFile($this->basePath('/themes/s0m/js/plugins/fastclick.js'))
        ->appendFile($this->basePath('/themes/s0m/js/plugins/materialize.min.js'))
        ->appendFile($this->basePath('/themes/s0m/js/plugins/owl.carousel.min.js'))
        ->appendFile($this->basePath('/themes/s0m/js/auth.js'))
//        ->appendFile($this->basePath('/themes/s0m/js/plugins/angular.min.js'))
    ?>
</head>
<body>
<?php echo $this->content; ?>

<?php echo $this->inlineScript()
    ->prependFile($this->basePath('/themes/s0m/js/app.js'));
?>
</body>
</html>