<?php
/**
 * @var \Application\View\Renderer $this
 * @var \Zend\Navigation\Page\AbstractPage[] $pages
 */
?>
<div itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="uk-hidden-small">
    <ul class="">
        <?php $counter = 0;?>
        <?php foreach ($pages as $page): ?>
            <?php $counter++;?>
            <?php $showBreadcrumb = $page->get('showBreadcrumb'); ?>
            <?php if ($showBreadcrumb === false) { continue; } ?>
            <?php if ($page->getHref()):?>
                <li>
                    <?php if ($counter == count($pages)):?>
                        <span itemprop="title"><?php echo $page->getLabel()?></span>
                    <?php else: ?>
                        <a href="<?php echo $page->getHref();?>" itemprop="url">
                            <span itemprop="title"><?php echo $page->getLabel()?></span>
                        </a>
                    <?php endif;?>
                </li>
            <?php endif; ?>
        <?php endforeach; ?>
    </ul>
</div>
