<main class="mn-inner">
    <div class="page-title">Course item</div>
    <?php echo $this->form()->openTag($form); ?>
    <div class="flex-1em w100">
        <div class="col-sm-8 col-xs-12 order-xs-2">
            <div class="card select-tab-content" id="article"
                 style="display: <?php echo $form->get('type')->getValue() == 'article' ? 'block' : 'none'; ?>">
                <div class="card-content">
                    <span class="card-title">Text</span>
                    <div class="flex-1em child-col-sm-12 child-col-md-12 child-col-xs-12">
                        <div class="input-field w100">
                            <textarea class="editor" autofocus></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card select-tab-content" id="video"
                 style="display: <?php echo $form->get('type')->getValue() == 'video' ? 'block' : 'none'; ?>">
                <div class="card-content">
                    <span class="card-title">Video</span>
                    <div class="flex-1em child-col-sm-12 child-col-md-12 child-col-xs-12">
                        <div class="file-field input-field">
                            <div class="flex-1em space-between">
                                <div>
                                    <div class="btn teal lighten-1">
                                        <span><?php echo $form->get('video')->getLabel(); ?></span>
                                        <?php echo $this->formElement($form->get('video')); ?>
                                        <?php echo $this->formElementErrors($form->get('video')); ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card select-tab-content" id="audio"
                 style="display: <?php echo $form->get('type')->getValue() == 'audio' ? 'block' : 'none'; ?>">
                <div class="card-content">
                    <span class="card-title">Audio</span>
                    <div class="flex-1em child-col-sm-12 child-col-md-12 child-col-xs-12">
                        <div class="file-field input-field">
                            <div class="flex-1em space-between">
                                <div>
                                    <div class="btn teal lighten-1">
                                        <span><?php echo $form->get('audio')->getLabel(); ?></span>
                                        <?php echo $this->formElement($form->get('audio')); ?>
                                        <?php echo $this->formElementErrors($form->get('audio')); ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card select-tab-content" id="image"
                 style="display: <?php echo $form->get('type')->getValue() == 'image' ? 'block' : 'none'; ?>">
                <div class="card-content">
                    <span class="card-title">Image</span>
                    <div class="flex-1em child-col-sm-12 child-col-md-12 child-col-xs-12">
                        <div class="file-field input-field">
                            <div class="flex-1em space-between">
                                <div>
                                    <div class="btn teal lighten-1">
                                        <span><?php echo $form->get('image')->getLabel(); ?></span>
                                        <?php echo $this->formElement($form->get('image')); ?>
                                        <?php echo $this->formElementErrors($form->get('image')); ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card select-tab-content" id="quiz"
                 style="display: <?php echo $form->get('type')->getValue() == 'quiz' ? 'block' : 'none'; ?>">
                <div class="card-content">
                    <span class="card-title">Quizz</span>
                    <div id="sortItems">
                        <?php echo $this->partial('backend/course/item/quiz/quiz-form'); ?>
                    </div>
                    <div class="br-2 br-light-gray">
                        <a href="#" class="add-question display-inline-block p-1_8em up w100 text-center lh-1em">
                            <i class="fa fa-plus-square size-1_5em pr-1em" aria-hidden="true"></i>
                            <span class="size-1_4em">Add question</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12 order-xs-1">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Item options</span>
                    <div>
                        <div class="input-field">
                            <?php echo $this->formElement($form->get('name')); ?>
                            <?php echo $this->formLabel($form->get('name')); ?>
                            <?php echo $this->formElementErrors($form->get('name')); ?>
                        </div>
                        <div class="input-field">
                            <div class="input-field">
                                <?php echo $this->formElement($form->get('description')); ?>
                                <?php echo $this->formLabel($form->get('description')); ?>
                                <?php echo $this->formElementErrors($form->get('description')); ?>
                            </div>
                        </div>
                        <div class="input-field">
                            <?php echo $this->formElement($form->get('type')); ?>
                            <?php echo $this->formLabel($form->get('type')); ?>
                        </div>
                        <div class="input-field">
                            <div class="input-field">
                                <?php echo $this->formElement($form->get('isFree')); ?>
                                <?php echo $this->formLabel($form->get('isFree')); ?>
                                <?php echo $this->formElementErrors($form->get('isFree')); ?>
                            </div>
                        </div>
                        <div class="input-field">
                            <div class="input-field">
                                <?php echo $this->formElement($form->get('startDate')); ?>
                                <?php echo $this->formLabel($form->get('startDate')); ?>
                                <?php echo $this->formElementErrors($form->get('startDate')); ?>
                            </div>
                        </div>
                        <div class="input-field">
                            <div class="input-field">
                                <?php echo $this->formElement($form->get('chapter')); ?>
                                <?php echo $this->formLabel($form->get('chapter')); ?>
                                <?php echo $this->formElementErrors($form->get('chapter')); ?>
                            </div>
                        </div>
                        <div class="input-field mt-3em">
                            <?php echo $this->formElement($form->get('state')); ?>
                            <?php echo $this->formLabel($form->get('state')); ?>
                        </div>
                    </div>
                    <div class="pt-2em flex-0_5em flex-end">
                        <div>
                            <a class="waves-effect waves-light btn white m-b-xs">Cancel</a>
                        </div>
                        <div>
                            <?php echo $this->formElement($form->get('submit')); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php echo $this->form()->closeTag(); ?>
    <?php echo $this->partial('personal-office/item/quiz/template'); ?>
</main>

<?php
$previewArr = (isset($item) && $item) ? $this->item($item)->getItemPreviewS3Files($form) : ['video' => [], 'audio' => [], 'image' => []];
?>
<script>
    $(function(){
        $.fileInputS0m.initBackend({
            selector : "input#video",
            valueInputSelector : "input#video",
            previewArr : <?= \GuzzleHttp\json_encode($previewArr['video']) ?>
        });
        $.fileInputS0m.initBackend({
            selector : "input#audio",
            valueInputSelector : "input#audio",
            previewArr : <?= \GuzzleHttp\json_encode($previewArr['audio']) ?>
        });
        $.fileInputS0m.initBackend({
            selector : "input#image",
            valueInputSelector : "input#image",
            previewArr : <?= \GuzzleHttp\json_encode($previewArr['image']) ?>
        });
    });
</script>