<?php
/**
 * @var Application\Entity\Course\Item\ItemAbstract $item
 */
?>
<main class="mn-inner">
    <div class="row">
        <div class="col s12">
            <div class="page-title">Courses</div>
        </div>
        <div class="col s12">
            <a href="<?= $this->url('backend/item/actions', ['action' => 'create']) ?>" class="waves-effect waves-light btn green m-b-xs btn-offset-left">
                Create new
            </a>
        </div>
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <table id="example" class="display responsive-table datatable-example">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Fee</th>
                            <th>Start day</th>
                            <th class="width-6em">Edit</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Free</th>
                            <th>Start day</th>
                            <th class="width-6em">Edit</th>
                        </tr>
                        </tfoot>

                        <tbody>
                        <?php if ($items) : ?>
                            <?php foreach ($items as $item) : ?>
                                <tr>
                                    <td><?= $item->getName(); ?></td>
                                    <td><?= $item->getDescription(); ?></td>
                                    <td><?= $item->isFree() ? 'YES' : 'NO'; ?></td>
                                    <td><?= $item->getStartDate()->format('d-m-Y'); ?></td>
                                    <td><?= $item->get; ?></td>
                                    <td>
                                        <a class="btn-floating waves-effect waves-light size-0_7em show-on-hover" href="<?= $this->url(
                                                'backend/item/actions',
                                                [
                                                    'action' => 'edit',
                                                    'id' => $item->getIdentity()
                                                ]) ?>">
                                            <i class="material-icons">mode_edit</i>
                                        </a>
                                        <a class="btn-floating waves-effect waves-light red size-0_7em show-on-hover modal-trigger ml-0_5em" href="<?= $this->url(
                                            'backend/item/actions',
                                            [
                                                'action' => 'delete',
                                                'id' => $item->getIdentity()
                                            ]) ?>">
                                            <i class="material-icons">delete</i>
                                        </a>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        <?php endif; ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>