<?php
/**
 * @var \Application\View\Renderer $this
 */

$this->headTitle('Create new course');

$form->get('name')->setAttributes([
    'class'=>'bc-gray text-indent-2em',
    'placeholder' => 'Example: Learn Adobe Photoshop CC',
]);

$form->get('submit')->setAttributes(
    [
        'value' => 'Save and go',
        'class' => 'button button-green',
    ]
);

$form->prepare();
?>
<section class="pt-4em pb-4em">
    <div class="container">
        <div class="flex center">
            <div class="pt-2em pb-5em">
                <div class="size-1_8em f-semi-bold">Let's get started</div>
            </div>
        </div>
        <div class="flex center">
            <div class="col-xs-12 col-sm-8">
                <div class="br-2 br-gray p-2em">
                    <div class="pb-1em">
                        <div class="size-1em f-semi-bold c-black">Enter a title for your course</div>
                    </div>
                    <?php echo $this->form()->openTag($form); ?>
                    <div class="pb-2em">
                        <div class="input-field">
                            <?php echo $this->formElement($form->get('name')); ?>
                            <?php echo $this->formElementErrors($form->get('name')); ?>
                        </div>
                    </div>
                    <div class="">
                        <?php echo $this->formElement($form->get('submit')); ?>
                    </div>
                    <?php echo $this->form()->closeTag(); ?>
                </div>
            </div>
        </div>
    </div>
</section>