<?php
/**
 * @var \Application\View\Renderer $this
 */

$this->headTitle('Chapter create');

$form->get('submit')->setAttributes(
    [
        'value' => 'Update Chapter',
    ]
);

$form->prepare();
?>
<section class="pt-5em-sm pt-4em-xs pb-3em-sm pb-2em-xs">
    <div class="container">
        <div class="flex-1em size-0_8em-sm size-1em-md">
            <?php echo $this->aepNavigation()->getPersonalOfficeLeftMenu('frontend/menu/professor_left_menu'); ?>
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="flex-1em items-center pb-2em">
                    <div class="flex items-center nowrap">
                        <div class="lh-1em size-1_2em">
                            <em class="fa fa-bookmark-o fa-2x c-green" aria-hidden="true"></em>
                        </div>
                        <div class="pl-2em c-green lh-1_8em">
                            <div class="size-1_4em">
                                <span class="up">Chapters</span> / Update chapter
                            </div>
                        </div>
                    </div>
                </div>
                <?php echo $this->partial('personal-office/chapter/form'); ?>
                <div class="mb-1em">
                    <div class="size-1_4em c-black f-semi-bold">Item</div>
                </div>
                <div class="child-mb-2em size-0_8em-xs size-1em-sm">
                    <div class="br-2 br-light-gray">
                        <a href="<?= $this->url('personal-office/item/create', ['id' => $chapterId]); ?>" class="display-inline-block p-1_8em up w100 text-center lh-1em">
                            <i class="fa fa-plus-square size-1_5em pr-1em" aria-hidden="true"></i>
                            <span class="size-1_4em">Add item</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>