<main class="mn-inner">
    <div class="row">
        <div class="col s12">
            <div class="page-title">Courses</div>
        </div>
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <?php if ($items) { ?>
                    <table id="example" class="display responsive-table datatable-example">
                        <thead>
                        <tr>
                            <th>Teacher</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th class="width-5em">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($items as $item) { ?>
                            <tr>
                                <td><?= $item->getTeacher()->getFullName(); ?></td>
                                <td><?= $item->getName() ?></td>
                                <td><?= $item->getDescription() ?></td>
                                <td>
                                    <a class="btn-floating waves-effect waves-light size-0_7em show-on-hover" href="<?php echo $this->url('backend/courses', ['action' => 'edit', 'id' => $item->getIdentity()]); ?>">
                                        <i class="material-icons">mode_edit</i>
                                    </a>
                                    <a class="btn-floating waves-effect waves-light red size-0_7em show-on-hover modal-trigger ml-0_5em" href="<?php echo $this->url('backend/courses', ['action' => 'delete', 'id' => $item->getIdentity()]); ?>">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </td>
                            </tr>
                        <?php } ?>
                        </tbody>
                    </table>
                    <?php } else { ?>
                        <div class="cyan lighten-4 p-2em">No items.</div>
                    <?php } ?>
                    <div class="pt-2em flex-0_5em flex-end">
                        <div>
                            <a href="/backend/courses/create/" class="waves-effect waves-light btn green m-b-xs">Add</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div id="confirm" class="modal">
    <div class="modal-content">
        <h4>Delete</h4>
        <p>Delete this item?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-blue btn-flat ">Ok</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-blue btn-flat ">Cancel</a>
    </div>
</div>