<?php
/**
 * @var \Application\View\Renderer $this
 */

$this->headTitle('Cource info');

$form->get('categories')->setValueOptions(
    $this->selectOptionsHelper()->getCategoriesValues()
);

$form->get('difficulty')->setValueOptions(
    $this->selectOptionsHelper()->getDifficultyValues()
);

$form->get('teacher')->setValueOptions(
    $this->selectOptionsHelper()->getProfessorsValues()
);

$form->get('execution')->setValueOptions(
    $this->selectOptionsHelper()->getPeriodValues()
);

$form->get('submit')->setAttributes(
    [
        'value' => 'Save',
        'class' => 'button button-green'
    ]
);

$form->prepare();
?>

<section class="pt-5em-sm pt-4em-xs pb-3em-sm pb-2em-xs">
    <div class="container">
        <?php echo $this->form()->openTag($form); ?>
        <div class="flex-1em child-mb-2em">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="size-1_2em f-semi-bold pb-1em">Basic course details</div>
                <div class="c-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Praesent hendrerit odio porttitor risus efficitur pharetra.
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="br-2 br-light-gray p-2_5em">
                    <div class="flex-1em child-mb-1em">
                        <div class="col-xs-12 col-sm-12">
                            <div class="size-1em c-grey-input f-bold up">
                                <?php echo $this->formLabel($form->get('name')); ?>
                            </div>
                            <div class="input-field input-profile">
                                <?php echo $this->formElement($form->get('name')); ?>
                                <?php echo $this->formElementErrors($form->get('name')); ?>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="size-1em c-grey-input f-bold up">
                                <?php echo $this->formLabel($form->get('description')); ?>
                            </div>
                            <div class="input-field">
                                <?php echo $this->formElement($form->get('description')); ?>
                                <?php echo $this->formElementErrors($form->get('description')); ?>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="size-1em c-grey-input f-bold up">
                                <?php echo $this->formLabel($form->get('categories')); ?>
                            </div>
                            <div class="input-field input-profile">
                                <?php echo $this->formElement($form->get('categories')); ?>
                                <?php echo $this->formElementErrors($form->get('categories')); ?>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="size-1em c-grey-input f-bold up">
                                <?php echo $this->formLabel($form->get('execution')); ?>
                            </div>
                            <?php echo $this->formElement($form->get('execution')); ?>
                            <?php echo $this->formElementErrors($form->get('execution')); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-1em child-mb-2em">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="size-1_2em f-semi-bold pb-1em">Advanced info</div>
                <div class="c-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Praesent hendrerit odio porttitor risus efficitur pharetra.
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="br-2 br-light-gray p-2_5em">
                    <div class="flex-1em child-mb-1em">
                        <div class="col-xs-12 col-sm-6">
                            <div class="size-1em c-grey-input f-bold up">
                                <?php echo $this->formLabel($form->get('difficulty')); ?>
                            </div>
                            <div class="input-field input-profile">
                                <?php echo $this->formElement($form->get('difficulty')); ?>
                                <?php echo $this->formElementErrors($form->get('difficulty')); ?>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="size-1em c-grey-input f-bold up">
                                <?php echo $this->formLabel($form->get('teacher')); ?>
                            </div>
                            <?php echo $this->formElement($form->get('teacher')); ?>
                            <?php echo $this->formElementErrors($form->get('teacher')); ?>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="size-1em c-grey-input f-bold up">
                            <?php echo $this->formLabel($form->get('howPass')); ?>
                        </div>
                        <div class="input-field">
                            <?php echo $this->formElement($form->get('howPass')); ?>
                            <?php echo $this->formElementErrors($form->get('howPass')); ?>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="size-1em c-grey-input f-bold up">
                            <?php echo $this->formLabel($form->get('institution')); ?>
                        </div>
                        <div class="input-field">
                            <?php echo $this->formElement($form->get('institution')); ?>
                            <?php echo $this->formElementErrors($form->get('institution')); ?>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="size-1em c-grey-input f-bold up">
                            <?php echo $this->formLabel($form->get('skillsToAchieve')); ?>
                        </div>
                        <div class="input-field">
                            <?php echo $this->formElement($form->get('skillsToAchieve')); ?>
                            <?php echo $this->formElementErrors($form->get('skillsToAchieve')); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-1em child-mb-2em">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="size-1_2em f-semi-bold pb-1em">Cover photo *</div>
                <div class="c-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Praesent hendrerit odio porttitor risus efficitur pharetra.
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="br-2 br-light-gray p-2_5em">
                    <div class="flex-1em">
                        <div class="col-xs-12 col-sm-6 flex center">
                            <div>
                                <img src="<?php echo $this->basePath(
                                    'themes/s0m/img/cover-images/cover-image.png'
                                ); ?>" alt="">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="pb-1em">
                                <div class="size-1em c-black f-semi-bold">Required dimensions:</div>
                                <div class="size-1em c-grey f-semi-bold">2048x1152 pixels</div>
                            </div>
                            <div class="pb-2em">
                                <div class="size-1em c-black f-semi-bold">Required format:</div>
                                <div class="size-1em c-grey f-semi-bold">.jpg, .jpeg, .gif, .bmp or .png</div>
                            </div>
                            <div class="pb-0_5em">
                                <div class="size-1em f-semi-bold">No file selected</div>
                            </div>
                            <div>
                                <!--<form action="#">-->
                                    <div class="file-field input-field">
                                        <div class="btn">
                                            <span>File</span>
                                            <input type="file" multiple>
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="Upload one or more files">
                                        </div>
                                    </div>
                                <!--</form>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-1em child-mb-2em">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="size-1_2em f-semi-bold pb-1em">Cover video (optional)</div>
                <div class="c-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Praesent hendrerit odio porttitor risus efficitur pharetra.
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="br-2 br-light-gray p-2_5em">
                    <div class="flex-1em">
                        <div class="col-xs-12 col-sm-6 flex center">
                            <div>
                                <img src="<?php echo $this->basePath(
                                    'themes/s0m/img/cover-images/cover-video.png'
                                ); ?>" alt="">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="pb-1em">
                                <div class="size-1em c-black f-semi-bold">Required dimensions:</div>
                                <div class="size-1em c-grey f-semi-bold">1280x720 pixels</div>
                            </div>
                            <div class="pb-2em">
                                <div class="size-1em c-black f-semi-bold">Required format:</div>
                                <div class="size-1em c-grey f-semi-bold">.mp4, .avi</div>
                            </div>
                            <div class="pb-0_5em">
                                <div class="size-1em f-semi-bold">No file selected</div>
                            </div>
                            <div>
                                <!--<form action="#">-->
                                    <div class="file-field input-field">
                                        <div class="btn">
                                            <span>File</span>
                                            <input type="file" multiple>
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="Upload one or more files">
                                        </div>
                                    </div>
                                <!--</form>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-1em child-mb-2em">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="size-1_2em f-semi-bold pb-1em">Promotional video (optional)</div>
                <div class="c-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Praesent hendrerit odio porttitor risus efficitur pharetra.
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="br-2 br-light-gray p-2_5em">
                    <div class="flex-1em">
                        <div class="col-xs-12 col-sm-6 flex center">
                            <div>
                                <img src="<?php echo $this->basePath(
                                    'themes/s0m/img/cover-images/cover-video.png'
                                ); ?>" alt="">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="pb-1em">
                                <div class="size-1em c-black f-semi-bold">Required dimensions:</div>
                                <div class="size-1em c-grey f-semi-bold">1280x720 pixels</div>
                            </div>
                            <div class="pb-2em">
                                <div class="size-1em c-black f-semi-bold">Required format:</div>
                                <div class="size-1em c-grey f-semi-bold">.mp4, .avi</div>
                            </div>
                            <div class="pb-0_5em">
                                <div class="size-1em f-semi-bold">No file selected</div>
                            </div>
                            <div>
                                <!--<form action="#">-->
                                    <div class="file-field input-field">
                                        <div class="btn">
                                            <span>File</span>
                                            <input type="file" multiple>
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="Upload one or more files">
                                        </div>
                                    </div>
                                <!--</form>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?= $this->formElement($form->get('submit')); ?>
        <?php echo $this->form()->closeTag(); ?>
    </div>
</section>