<section class="bc-green-effect pt-6em-sm pt-5em-xs pb-5em-sm pb-6em-xs">

    <?php echo $this->aepNavigation()->getLeftMenu('personal-office/menu/left_menu'); ?>

    <div class="container ">
        <div class="flex center text-left">
            <div class="col-xs-12 col-sm-10">
                <div class="flex-1em space-between nowrap-sm">
                    <div class="col-xs-12 col-sm-12 pb-1em-xs">
                        <div class="pb-1em">
                            <div class="h1 f-bold">Home page courses</div>
                        </div>
                        <div class="pb-1em">
                            <div class="size-1_2em">
                                <p>Home page courses.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

