<?php
/**
 * @var \Application\View\Renderer $this
 */
?>
<p>
    Please follow the link below to reset your password:<br>
    <?=$requestUrl?> <br>
    If you haven't asked to reset your password, please ignore this message. <br> <br>
    Thank You.
</p>