<section class="bc-white pt-4_5em pb-8em pb-4em-xs">
    <div class="container">
        <div class="flex-2em">

            <?php echo $this->aepNavigation()->getLeftMenuProfile('personal-office/menu/left_menu_profile'); ?>

            <div class="col-xs-12 col-sm-8">
                <div class="pb-3em pt-3em-xs">
                    <div class="size-1_3em up c-black f-bold title-lines-left">Linked accounts</div>
                </div>
                <div class="br-2 br-light-gray">
                    <?php echo $this->partial('personal-office/elements/social', ['socialAccounts' => $socialAccounts]); ?>
                </div>
            </div>
        </div>
    </div>
</section>

