<?php
/**
 * @var \Application\View\Renderer $this
 */
?>
<section class="bg-cover pt-9em-sm pt-4em-xs pb-9em-sm pb-5em-xs">
    <ul style="padding-left: 100px;">
        <li><a href="<?php echo $this->url('personal-office/personal-data') ?>">Profile</a> </li>
        <li><a href="<?php echo $this->url('personal-office/change-password') ?>">Change password</a> </li>
        <li><a href="<?php echo $this->url('personal-office/linked-accounts') ?>">Profile SN</a> </li>
        <?php if (isset($this->authIdentity()->getRoles()[0]) &&
            $this->authIdentity()->getRoles()[0]->getName() == 'professor'): ?>
            <li><a href="<?php echo $this->url('personal-office/course/my-courses') ?>">Courses management</a> </li>
        <?php endif; ?>
    </ul>
</section>
