<?php
/** @var \Application\View\Renderer $this */
?>
<aside id="slide-out" class="side-nav white fixed">
    <div class="side-nav-wrapper">
        <div class="sidebar-profile">
            <div class="sidebar-profile-image">
                <img src="<?php echo $this->imageThumb(
                        $this->authIdentity()->getAvatar(),
                        50,
                        50,
                        "/themes/admin/images/profile-image.png"
                ); ?>" class="circle" alt="">
            </div>
            <div class="sidebar-profile-info">
                <div>
                    <p><?php echo $this->authIdentity()->getFullName(); ?></p>
                    <span><?php echo $this->authIdentity()->getEmail(); ?></span>
                </div>
            </div>
        </div>

        <?php if ($this->container) { ?>
            <ul class="sidebar-menu collapsible collapsible-accordion" data-collapsible="accordion">
                <?php foreach ($this->container as $page) { ?>
                <li class="no-padding">
                    <a class="waves-effect waves-grey <?= $page->getActive() ? "collapsible-header active" : "" ?>" href="<?php echo $page->getHref(); ?>">
                        <i class="material-icons"><?php echo $page->iconContent; ?></i>
                        <?php echo $page->getLabel(); ?>
                    </a>
                </li>
                <?php } ?>
            </ul>
        <?php } ?>

        <div class="footer">
            <p class="copyright">Admin Panel</p>
            <div class="size-0_9em">Version 1.0</div>
        </div>
    </div>
</aside>