<section class="bc-white pt-4em pb-4em-sm pb-3em-xs">
    <div class="container">
        <div class="flex-2em">
            <div class="col-xs-12 col-sm-4">
                <div class="mb-2em">
                    <div class="profile-sidebar">
                        <ul>
                            <li>
                                <a href="#" class="sb-icon icon-data">Personal data</a>
                            </li>
                            <li>
                                <a href="#" class="sb-icon icon-password">Change password</a>
                            </li>
                            <li>
                                <a href="#" class="sb-icon icon-social">Linked accounts</a>
                            </li>
                            <li class="active">
                                <a href="#" class="sb-icon icon-plan">Subscription plan</a>
                            </li>
                            <li>
                                <a href="#" class="sb-icon icon-notification">Notifications</a>
                            </li>
                        </ul>
                    </div>
                    <div class="flex column center bc-grey-olive p-1em">
                        <div class="pt-1em pb-1em">
                            <a href="#"><img src="<?php echo $this->basePath(
                                    'themes/s0m/img/profile/star.svg'
                                ); ?>" alt=""></a>
                        </div>
                        <div class="pl-3em pr-3em pb-1em">
                            <div class="size-1_1em c-black f-bold"><a href="#">Upgrade to premium account</a></div>
                        </div>
                    </div>
                </div>
                <div class="bc-grey-olive p-2em">
                    <div class="pb-0_5em">
                        <div class="size-1em c-black f-bold">Account completeness</div>
                    </div>
                    <div class="flex space-between">
                        <div class="col-sm-10 col-xs-10">
                            <div class="progress profile-progress">
                                <div class="determinate" style="width: 50%"></div>
                            </div>
                        </div>
                        <div class="col-sm-2 xol-xs-2 text-right">
                            <div class="size-1em c-green f-bold">50%</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="pb-3em pt-3em-xs">
                    <div class="size-1_3em up c-black f-bold title-lines-left">Confirmation payment</div>
                </div>
                <div class="flex-1em flex-start">
                    <div class="col-xs-12 col-sm-6 mb-2em">
                        <div class="flex column space-between center br-2 br-light-gray p-2em-xs p-2em-sm p-3em-md h100">
                            <div class="pb-2em"><img src="<?php echo $this->basePath(
                                    'themes/s0m/img/profile/star.svg'
                                ); ?>" alt=""></div>
                            <div class="pb-0_5em">
                                <div class="size-1_2em c-black f-bold">Premium account</div>
                            </div>
                            <div class="size-1em c-darkgrey f-medium">Fully functional account including all premium features</div>
                            <div class="mt-2em mb-2em">
                                <div class="flex center items-center height-6em">
                                    <div class="size-2em c-black f-bold w100">$19/ month</div>
                                    <div class="size-1em c-darkgrey w100">(billed annually)</div>
                                </div>
                            </div>
                            <div class="pb-2em">
                                <div class="pb-0_5em">
                                    <div class="size-1_2em"><i class="fa fa-check pr-0_5em c-green" aria-hidden="true"></i>Advantage item number one</div>
                                </div>
                                <div class="pb-0_5em">
                                    <div class="size-1_2em"><i class="fa fa-check pr-0_5em c-green" aria-hidden="true"></i>Advantage item number two</div>
                                </div>
                                <div class="pb-0_5em">
                                    <div class="size-1_2em"><i class="fa fa-check pr-0_5em c-green" aria-hidden="true"></i>Advantage item number free</div>
                                </div>
                                <div class="pb-0_5em">
                                    <div class="size-1_2em"><i class="fa fa-check pr-0_5em c-green" aria-hidden="true"></i>Advantage item number four</div>
                                </div>
                            </div>
                            <div class="">
                                <?= $this->form()->openTag($form); ?>
                                <?= $this->formHidden($form->get('access_key')); ?>
                                <?= $this->formHidden($form->get('profile_id')); ?>
                                <?= $this->formHidden($form->get('transaction_uuid')); ?>
                                <?= $this->formHidden($form->get('signed_field_names')); ?>
                                <?= $this->formHidden($form->get('unsigned_field_names')); ?>
                                <?= $this->formHidden($form->get('signed_date_time')); ?>
                                <?= $this->formHidden($form->get('locale')); ?>
                                <?= $this->formHidden($form->get('transaction_type')); ?>
                                <?= $this->formHidden($form->get('reference_number')); ?>
                                <?= $this->formHidden($form->get('amount')); ?>
                                <?= $this->formHidden($form->get('currency')); ?>
                                <?= $this->formHidden($form->get('signature')); ?>
                                <?= $this->formElement($form->get('submit')); ?>
                                <?= $this->form()->closeTag(); ?>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>