<?php
/**
 * @var \Application\View\Renderer $this
 */

use Application\Entity\Course\Item\State;

$this->headTitle('Backend');

$form->get('name')->setAttributes([
    'class'=>'text-indent-2em',
]);

$form->get('description')->setAttributes([
    'class'=>'text-indent-2em',
]);

$form->get('content')->setAttributes([
    'class'=>'text-indent-2em'
]);

$form->get('isFree')->setAttributes([
    'class'=>'text-indent-2em'
]);

$form->get('startDate')->setAttributes([
    'class'=>'text-indent-2em'
]);

$form->get('state')->setAttributes([
    'class'=>'text-indent-2em'
])->setOptions([
    State::ACTIVE => 'Active',
    State::INACTIVE => 'Inactive',
]);

$form->get('submit')->setAttributes(
    [
        'value' => 'Save',
        'class' => 'button button-green'
    ]
);

$form->prepare();
?>


<section class="pt-4em pb-4em">
    <div class="container">
        <div class="flex center">
            <div class="pt-2em pb-5em">
                <div class="size-1_8em f-semi-bold">Update Package</div>
            </div>
        </div>
        <div class="flex center">
            <div class="col-xs-12 col-sm-8">
                <div class="br-2 br-gray p-2em">
                    <div class="pb-1em">
                        <div class="size-1em f-semi-bold c-black">Enter a title for your course</div>
                    </div>
                    <?php echo $this->form()->openTag($form); ?>
                    <div class="pb-2em">
                        <div class="input-field login-aep">
                            <?php echo $this->formElement($form->get('name')); ?>
                            <?php echo $this->formLabel($form->get('name')); ?>
                            <?php echo $this->formElementErrors($form->get('name')); ?>
                        </div>
                        <div class="input-field login-aep">
                            <?php echo $this->formElement($form->get('description')); ?>
                            <?php echo $this->formLabel($form->get('description')); ?>
                            <?php echo $this->formElementErrors($form->get('description')); ?>
                        </div>
                        <div class="input-field login-aep">
                            <?php echo $this->formElement($form->get('content')); ?>
                            <?php echo $this->formLabel($form->get('content')); ?>
                            <?php echo $this->formElementErrors($form->get('content')); ?>
                        </div>
                        <div class="input-field login-aep">
                            <?php echo $this->formElement($form->get('startDate')); ?>
                            <?php echo $this->formLabel($form->get('startDate')); ?>
                            <?php echo $this->formElementErrors($form->get('startDate')); ?>
                        </div>
                        <div class="input-field login-aep">
                            <?php echo $this->formElement($form->get('state')); ?>
                            <?php echo $this->formLabel($form->get('state')); ?>
                            <?php echo $this->formElementErrors($form->get('state')); ?>
                        </div>


                        <div class="input-field login-aep">
                            <?php echo $this->formElement($form->get('isFree')); ?>
                            <?php echo $this->formLabel($form->get('isFree')); ?>
                            <?php echo $this->formElementErrors($form->get('isFree')); ?>
                        </div>
                    </div>
                    <div class="">
                        <?php echo $this->formElement($form->get('submit')); ?>
                    </div>
                    <?php echo $this->form()->closeTag(); ?>
                </div>
            </div>
        </div>
    </div>
</section>