<?php
use Application\View\Helper\NamedDateFormat;
?>
<section class="p-1em pt-3em pb-3em bc-lightgray text-center  center">
    <div class="size-1_5em f-semi-bold"><?= $event->getName() ?></div>
    <div class="pt-2em">
        <div class="size-1em c-grey up f-semi-bold">event will start in</div>
        <div class="center">
            <div class="flex">
                <div id="countDown" class="w100 p-2em pt-0_5em flex-0_5em child-p-1em center items-center"></div>
            </div>
            <div class="flex center">
                <?php $action_subscribe = $isSubscribed ? 'unsubscribe-offline-event' : 'subscribe-offline-event'; ?>
                <a href="<?php echo $this->url(
                        "personal-office/$action_subscribe",
                        [
                            'id' => $event->getIdentity()
                        ]
                );?>" class="waves-effect button button-green-out"><?php echo $isSubscribed ? 'Unjoin this event' : 'Join this event'; ?></a>
            </div>
        </div>

    </div>
</section>
<section class="p-2em pb-3em">
    <div class="container">
        <div class="col-sm-12 col-xs-12 p-1em pb-2em">
            <div class="flex-1em items-center center">
                <div class="pr-1em c-lightgrey">
                    <i class="fa fa-calendar-o fa-2x" aria-hidden="true"></i>
                </div>
                <div class="">
                    <div class="size-0_9em f-semi-bold"><?php echo $this->namedDateFormat()->getDateFormat($event->getHeldDate(), NamedDateFormat::FORMAT_MEDIUM_DATE); ?> &nbsp;&nbsp;|&nbsp;&nbsp; <?php echo $this->namedDateFormat()->getDateFormat($event->getHeldDate(), NamedDateFormat::FORMAT_MEDIUM_TIME); ?></div>
                </div>
                <div class="pr-1em c-lightgrey">
                    <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                </div>
                <div class="">
                    <div class="size-0_9em f-semi-bold up"> <?= $event->getAddress() ?></div>
                </div>
            </div>
        </div>
        <div class="center c-grey">
            <?= $event->getDescription() ?>
        </div>
    </div>
</section>
<section class="p-3em bc-dark-gray">
    <div class="container center">
        <div class="c-white f-semi-bold size-1_2em"><?php echo count($users); ?> Students are going</div>
        <div class="flex-1em center pt-2em">
            <div class="col-xs-12 col-sm-10 flex items-center space-between">
                <?php foreach ($users as $user) { ?>
                    <i class="fa fa-smile-o fa-3x bc-white height-2em width-2em flex center items-center br border-radius-50" aria-hidden="true"></i>
                <?php } ?>
                <i class="fa fa-ellipsis-h fa-3x bc-white height-2em width-2em flex center items-center br border-radius-50" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</section>
<section class="bc-white p-2em pt-3em">
    <div class="container flex-1em child-col-xs-12 child-col-sm-6">
        <div class="">
            <div class="br-2 br-lightgray h100 block-shadow">
                <div class="map h100">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3065.21127081727!2d-75.16710872962116!3d39.94718560522807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6c625202cccb5%3A0x2d41fcbcda8b785c!2sPhiladelphia%2C+PA+19107%2C+USA!5e0!3m2!1sen!2s!4v1459502447613" width="" height="" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="">
            <div class="p-3em br-2 br-lightgray text-center h100 block-shadow">
                <div class="size-1_2em f-semi-bold center up pb-2em">Contact</div>
                <div class="c-grey size-1em">address1@spam.com</div>
                <div class="c-grey size-1em pb-1_5em">address2@spam.com</div>
                <div class="c-grey size-1em">+1 234 567 890</div>
                <div class="c-grey size-1em">+1 234 567 890</div>
            </div>
        </div>
    </div>
</section>