<section class="bc-green-effect pt-6em-sm pt-5em-xs pb-5em-sm pb-6em-xs">
    <div class="container ">
        <div class="flex center text-left">
            <div class="col-xs-12 col-sm-10">
                <div class="flex-1em space-between nowrap-sm">
                    <div class="col-xs-12 col-sm-12 pb-1em-xs">
                        <div class="pb-1em">
                            <div class="h1 f-bold">Course Chapters</div>
                        </div>

                        <div class="pb-1em">
                            <div class="size-1_2em">
                                <a href="<?php echo $this->url('backend/course-chapter', ['action'=>'create']); ?>" class="btn btn-default">Create new</a>
                            </div>
                        </div>

                        <div class="pb-1em">
                            <div class="size-1_2em">
                                <?php if ($chaptersList) { ?>
                                    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>State</th>
                                            <th>Description</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <?php foreach ($chaptersList as $chapter) { ?>
                                        <tr>
                                            <td><?= $chapter->getName() ?></td>
                                            <td><?= $chapter->getState()->getValue() ?></td>
                                            <td><?= $chapter->getDescription() ?></td>
                                            <td>
                                                <a href="<?php echo $this->url('backend/course-chapter', ['action' => 'edit', 'id' => $chapter->getIdentity()]); ?>" class="btn btn-default">Edit</a>
                                                <a href="<?php echo $this->url('backend/course-chapter', ['action' => 'delete', 'id' => $chapter->getIdentity()]); ?>" class="btn btn-default">Delete</a>
                                            </td>
                                        </tr>
                                        <?php } ?>
                                        </tbody>
                                    </table>
                                <?php } else { ?>
                                    <p>No available course chapters.</p>
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
