<?php
use Zend\Mvc\Application;
?>
<html lang="en">
<head>
    <title>401 Error - Authentication Failed</title>
    <meta charset="utf-8">
</head>
<body>
<style type="text/css">
    body {
        background: #232525;
    }

    h1.error_type {
        color: #3A5D8D;
        font-size: 12em;
    }

    hr {
        color: #BABABA;
    }

    span.error {
        color: white;
    }

    span.roles {
        color: #CC7831;
    }
</style>

<div class="container" style="text-align:right;">

    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <h1 class="error_type">401</h1>
        <hr>
        <span class="error">
            <p>
                <blockquote>
                    The URL you've requested,<br>
                    requires a correct username and password. Either you entered<br>
                    an incorrect username/password, or your browser doesn't support<br>
                    this feature.
                </blockquote>
            <p>
        </span>
        <hr>
    </div>
    <div class="col-xs-2"></div>
</div>
</body>
</html>