<?php
use Zend\Mvc\Application;
?>
<html lang="en">
<head>
    <title>403 - Permission Denied</title>
    <meta charset="utf-8">
</head>
<body>
<style type="text/css">
    body {
        background: #232525;
    }

    h1.error_type {
        color: #3A5D8D;
        font-size: 12em;
    }

    hr {
        color: #BABABA;
    }

    span.error{
        color:white;
    }

    span.roles{
        color: #CC7831;
    }
</style>

<div class="container" style="text-align:right;">

    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <h1 class="error_type">403</h1>
        <hr>
        <span class="error">
            <blockquote>
            You do not have permission to retrieve the URL or link you requested.
            <br>
                <a href="/logout/">Logout and login</a> under other account.
            </blockquote>
        </span>
        <hr>
    </div>
    <div class="col-xs-2"></div>
</div>
</body>
</html>