.child-borders > div {
    border-bottom:1px solid #ddd;
}
.w100 {
    width:100%!important;
}
.block-lightgrey-with-hover {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f9f9f9;
    border: 1px solid #ddd;
    transition: all .3s;
}
.block-lightgrey-with-hover:hover {
    background: #f1f1f1;
    border: 1px solid #bbb;
    transition: all .1s;
}
.block-green-with-hover {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #cff1d0;
    border: 1px solid #aed8b0;
    transition: all .3s;
}
.block-green-with-hover:hover {
    background: #c0efc2;
    border: 1px solid #aed8b0;
    transition: all .1s;
}
div > div > .show-on-hover {
    transition: all ease-in-out 0.3s;
    opacity: 0;
}
div:hover > div > .show-on-hover {
    transition: all ease-in-out 0.1s;
    opacity: 1;
}
tr > td > .show-on-hover {
    transition: all ease-in-out 0.3s;
    opacity: 0;
}
tr:hover > td  > .show-on-hover {
    transition: all ease-in-out 0.1s;
    opacity: 1;
}