<?php
/** @var \Application\View\Renderer $this */
/** @var \Zend\Navigation\Page\AbstractPage $page */
foreach ($this->container as $page):
    if ($this->navigation()->accept($page)): ?>
        <a class="navbar-brand" href="<?php if ($page->getHref()){echo $page->getHref();} else {echo '#';}?>">
            <img src="<?= $this->basePath('img/zf-logo-mark.svg') ?>" height="28" alt="<?php echo $page->getLabel();?> <?= \Application\Module::VERSION ?>"/>&nbsp;<?php echo $page->getLabel();?>
        </a>
    <?php endif;
endforeach; ?>