<?php
/**
 * @var \Application\View\Renderer $this
 * @var \Zend\Navigation\Page\AbstractPage $page
 */
?>

<section class="bc-darkgreen c-white pt-5em-sm pt-3em-xs pos-rel">
    <div class="container">
        <div class="flex-1em pb-1_5em items-center space-between">
            <div class="size-1_3em title-lines-left">Machine Learning Foundations: A Case Study Approach</div>
            <a href="pr-course-preview.html" class="ml-1em-xs mt-2em-xs waves-effect button button-white-out up">Course preview</a>
        </div>
        <div class="pb-1_5em">
            <a href="#" class="waves-effect button button-white-out up">Published</a>
        </div>
        <div class="pr-navigation">
            <?php if ($this->container) { ?>
                <div class="tabs">
                <?php foreach ($this->container as $page) { ?>
                    <?php if ($this->navigation()->accept($page)) { ?>
                    <div class="tab">
                        <a href="<?php echo $page->getHref(); ?>"
                           class="<?php echo $page->isActive() ? 'active' : ''; ?>">
                            <?php echo $page->getLabel()?>
                        </a>
                    </div>
                    <?php } ?>
                <?php } ?>
                </div>
            <?php } ?>
        </div>
    </div>
</section>