<?php
$this->headTitle('Create new course');

$form->get('name')->setAttributes([
    'class'=>'bc-gray text-indent-2em',
    'placeholder' => 'Example: Learn Adobe Photoshop CC',
]);

$form->get('submit')->setAttributes(
    [
        'value' => 'Create',
        'class' => 'waves-effect waves-light btn green m-b-xs',
    ]
);

$form->prepare();

?>


<main class="mn-inner">
    <div class="page-title">Courses</div>
    <div class="mt-2em">
        <?php echo $this->form()->openTag($form); ?>
        <div class="flex-1em w100">
            <div class="col-xs-12 col-sm-12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Create course</span>
                        <?php echo $this->form()->openTag($form); ?>
                        <div class="flex-1em child-col-sm-12 child-col-md-12 child-col-xs-12">
                            <div class="input-field">
                                <?php echo $this->formElement($form->get('name')); ?>
                                <?php echo $this->formElementErrors($form->get('name')); ?>
                            </div>
                        </div>
                        <div class="pt-2em flex-0_5em flex-end">
                            <div>
                                <?php echo $this->formElement($form->get('submit')); ?>
                            </div>
                        </div>
                        <?php echo $this->form()->closeTag(); ?>
                    </div>
                </div>
            </div>
        </div>
        <?php echo $this->form()->closeTag(); ?>
    </div>
</main>




