<footer class="bc-lightgray pt-3em pb-3em">
    <div class="container">
        <div class="flex-1_5em child-pb-2em-xs child-pb-1em-sm child-pb-0-md text-center-xs text-center-sm text-left-md">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="pb-1em">
                    <div class="size-2_4em c-green up">
                        Logo
                    </div>
                </div>

                <div class="c-middle-grey">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed. </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2">
                <div class="pb-1em">
                    <div class="h6 f-bold light-black">
                        USER
                    </div>
                </div>
                <div class="child-pb-0_3em">
                    <div><a class="c-middle-grey" href="#">Sign up</a></div>
                    <div><a class="c-middle-grey" href="#">Log in</a></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="pb-1em">
                    <div class="h6 f-bold light-black">
                        USEFUL LINKS
                    </div>
                </div>
                <div class="child-pb-0_3em">
                    <div><a class="c-middle-grey" href="/feedback/">Contact us</a></div>
                    <div><a class="c-middle-grey" href="#">Subscribtion plans</a></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="pb-1em">
                    <div class="h6 f-bold light-black up">
                        Social
                    </div>
                </div>
                <div class="flex center-xs center-sm flex-start-md">
                    <div class="flex-0_5em size-1_6em socials">
                        <div><a href="#"><em class="fa fa-facebook" aria-hidden="true"></em></a></div>
                        <div><a href="#"><em class="fa fa-google-plus" aria-hidden="true"></em></a></div>
                        <div><a href="#"><em class="fa fa-twitter" aria-hidden="true"></em></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="w100 bc-light-grey p-1em">
    <div class="container flex space-between items-center">
        <div class="size-0_9em up c-middle-grey">&copy;&nbsp;&nbsp;All rights reserved</div>
        <div><a class="c-middle-grey" href="">User agreement</a> | <a class="c-middle-grey" href="">Terms and conditions</a></div>
    </div>
</div>