<div class="col-xs-12 col-sm-4">
    <div class="mb-2em">
        <div class="profile-sidebar">
            <ul>
                <li>
                    <a href="#" class="sb-icon icon-data">Personal data</a>
                </li>
                <li>
                    <a href="#" class="sb-icon icon-password">Change password</a>
                </li>
                <li>
                    <a href="#" class="sb-icon icon-social">Linked accounts</a>
                </li>
                <li class="active">
                    <a href="#" class="sb-icon icon-plan">Subscription plan</a>
                </li>
                <li>
                    <a href="#" class="sb-icon icon-notification">Notifications</a>
                </li>
            </ul>
        </div>
        <div class="flex column center bc-grey-olive p-1em">
            <div class="pt-1em pb-1em">
                <a href="#">
                    <img src="<?php echo $this->basePath(
                        'themes/s0m/img/profile/star.svg'
                    ); ?>" alt="">
                </a>
            </div>
            <div class="pl-3em pr-3em pb-1em">
                <div class="size-1_1em c-black f-bold"><a href="#">Upgrade to premium account</a></div>
            </div>
        </div>
    </div>
    <div class="bc-grey-olive p-2em">
        <div class="pb-0_5em">
            <div class="size-1em c-black f-bold">Account completeness</div>
        </div>
        <div class="flex space-between">
            <div class="col-sm-10 col-xs-10">
                <div class="progress profile-progress">
                    <div class="determinate" style="width: 50%"></div>
                </div>
            </div>
            <div class="col-sm-2 xol-xs-2 text-right">
                <div class="size-1em c-green f-bold">50%</div>
            </div>
        </div>
    </div>
</div>