<div class="pt-1em pb-2em">
    <div class="size-1em f-bold ab-line up">or</div>
</div>
<div class="flex-1em center items-center child-mb-0_5em">
    <div class="w100">
        <a href="<?php echo $this->url(
            'frontend/social',
            [
                'provider' => 'facebook'
            ]
        ) ?>"
           class="button-large button-facebook display-block">
            <div class="flex-0_5em items-center">
                <div class="size-1_3em">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </div>
                <div class="size-0_8em-xs">Log in with Facebook</div>
            </div>
        </a>
    </div>
    <div class="w100">
        <a href="<?php echo $this->url(
            'frontend/social',
            [
                'provider' => 'google'
            ]
        ) ?>" class="button-large button-google display-block">
            <div class="flex-0_5em items-center">
                <div class="size-1_3em"><i class="fa fa-google" aria-hidden="true"></i></div>
                <div class="size-0_8em-xs">Log with Google</div>
            </div>
        </a>
    </div>
</div>

<script type="text/javascript">
    jQuery(function($) {
        $(".button-facebook").eauth({"popup":{"width":585,"height":290},"id":"facebook"});
        $(".button-google").eauth({"popup":{"width":585,"height":290},"id":"google"});
    });
</script>