<?php
$this->headTitle('New Course Category');

$form = $this->form;
$form->get('name')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Enter name'
]);

$form->get('alias')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Enter alias'
]);

$form->get('state')->setAttributes([
    'class'=>'form-control'
]);
$form->get('submit')->setAttributes(['class'=>'button button-green-out']);
$form->prepare();

?>

<section class="bc-white pt-4_5em pb-8em">
    <div class="container">
        <div class="flex-2em">
            <div class="col-xs-12 col-sm-8">
                <div class="pb-2em flex">
                    <div class="size-1_3em up c-black f-bold title-lines-left">Add New Course Category</div>
                </div>

                <?= $this->form()->openTag($form); ?>

                <div class="flex-1em">
                    <div class="col-xs-12 col-sm-12">
                        <div class="col-xs-12 col-sm-6">
                            <div class="pt-1em">
                                <div class="size-1em c-grey-input f-bold"><?= $this->formLabel($form->get('name')); ?></div>
                            </div>
                            <div class="input-field input-profile">
                                <?= $this->formElement($form->get('name')); ?>
                                <?= $this->formElementErrors($form->get('name')); ?>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12">
                        <div class="col-xs-12 col-sm-6">
                            <div class="pt-1em">
                                <div class="size-1em c-grey-input f-bold"><?= $this->formLabel($form->get('alias')); ?></div>
                            </div>
                            <div class="input-field input-profile">
                                <?= $this->formElement($form->get('alias')); ?>
                                <?= $this->formElementErrors($form->get('alias')); ?>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12">
                        <div class="col-xs-12 col-sm-6">
                            <div class="pt-1em">
                                <div class="size-1em c-grey-input f-bold"><?= $this->formLabel($form->get('state')); ?></div>
                            </div>
                            <div class="input-field input-profile">
                                <?= $this->formElement($form->get('state')); ?>
                                <?= $this->formElementErrors($form->get('state')); ?>
                            </div>
                        </div>
                    </div>

                    <div class="pt-2em">
                        <?= $this->formElement($form->get('submit')); ?>
                    </div>
                </div>

                <?= $this->form()->closeTag(); ?>

            </div>
        </div>
    </div>
</section>





