<section class="bc-white pt-4em pb-4em-sm pb-3em-xs">
    <div class="container">
        <div class="flex-2em">

            <?php echo $this->partial('frontend/elements/personal_sidebar'); ?>

            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="pb-3em pt-3em-xs">
                    <div class="size-1_3em up c-black f-bold title-lines-left">Subscription plan</div>
                </div>
                <div class="flex items-center br-2 br-light-gray p-1_5em">
                    <div class="col-xs-12 col-sm-12 col-md-9">
                        <div class="flex-1em items-center center-xs center-sm flex-start-md nowrap-sm text-center-xs">
                            <div class="col-xs-12">
                                <div class="pb-1em-xs">
                                    <img src="<?php echo $this->basePath(
                                        'themes/s0m/img/profile/star.svg'
                                    ); ?>" alt="">
                                </div>
                            </div>
                            <div class="br-right-sm br-gray">
                                <div class="size-1em">Current subscription</div>
                                <div class="size-1_2em c-black f-bold">Premium account</div>
                            </div>
                            <div>
                                <div class="size-1em">Next payment:</div>
                                <div class="size-1_2em c-black f-bold">
                                    <?php echo $nextPaid;?> - <span class="c-green">$19</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 pt-0_5em-xs">
                        <div class="flex items-center center-xs center-sm flex-end-md pt-1em-xs pt-1em-sm pt-0-md">
                            <a href="#" class="button button-green-out">ОК</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>