<section class="bc-white pt-4em pb-4em-sm pb-3em-xs">
    <div class="container">
        <div class="flex-2em">

            <?php echo $this->partial('frontend/elements/personal_sidebar'); ?>

            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="pb-3em pt-3em-xs">
                    <div class="size-1_3em up c-black f-bold title-lines-left">Subscription plan</div>
                </div>
                <div class="flex-1em flex-start">
                    <div class="col-xs-12 col-sm-6 mb-2em">
                        <div class="flex column space-between center h100 br-2 br-light-gray p-2em-xs p-2em-sm p-3em-md">
                            <div class="pb-2em"><img src="<?php echo $this->basePath(
                                    'themes/s0m/img/profile/icon-hat.svg'
                                ); ?>" alt=""></div>
                            <div class="pb-0_5em">
                                <div class="size-1_2em c-black f-bold">Basic account</div>
                            </div>
                            <div class="size-1em c-darkgrey f-medium">Limited account evaluation purposes</div>
                            <div class="mt-2em mb-2em">
                                <div class="flex center items-center height-4em">
                                    <div class="size-2em c-black f-bold w100">Free</div>
                                </div>
                            </div>
                            <div class="pb-2em">
                                <div class="pb-0_5em">
                                    <div class="size-1_2em"><i class="fa fa-check c-green pr-0_5em" aria-hidden="true"></i>Advantage item number one</div>
                                </div>
                                <div class="pb-0_5em">
                                    <div class="size-1_2em c-not-active"><i class="fa fa-check pr-0_5em" aria-hidden="true"></i>Advantage item number two</div>
                                </div>
                                <div class="pb-0_5em">
                                    <div class="size-1_2em c-not-active"><i class="fa fa-check pr-0_5em" aria-hidden="true"></i>Advantage item number free</div>
                                </div>
                                <div class="pb-0_5em">
                                    <div class="size-1_2em c-not-active"><i class="fa fa-check pr-0_5em" aria-hidden="true"></i>Advantage item number four</div>
                                </div>
                            </div>
                            <div class="">
                                <button type="button" href="#" class="button button-green-out disabled" disabled>Active plan</button>
                            </div>
                        </div>
                    </div>

                    <?php if ($allPackages) {
                        foreach ($allPackages as $package) {
                            echo  $this->partial(
                                'personal-office/elements/package',
                                [
                                    'package' => $package,
                                ]
                            );
                        }
                    } ?>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    jQuery(document).ready(function(){
        jQuery("button.up").on("click", function(e){
            window.location.assign(jQuery(this).data('href'));
        });
    });
</script>