<?php
/**
 * @var \Application\View\Renderer $this
 * @var \Zend\Form\Form $form
 */

use Application\Entity\Course\Item\State;
use Zend\Form\Element\Text;

$this->headTitle('Chapter create');

$form->get('state')->setValueOptions([
    State::ACTIVE => 'Active',
    State::INACTIVE => 'Inactive',
]);

$form->prepare();
$questions = [];
if (isset($item) && $item instanceof \Application\Entity\Course\Item\Quiz && $item) {
    $quizData = $this->item($item)->getQuizData();
    $questions = $quizData->getQuizData();
}
?>
<?php echo $this->formElementErrors($form->get('quiz')); ?>

<?php if ($questions) { ?>
    <?php foreach ($questions as $subQuestion) { ?>
        <?php foreach ($subQuestion as $k => $question) { ?>
            <?php
                $questionAdd = new Text("quiz[questions][$k][question]");
                $questionAdd->setLabel('Question title/theme')
                    ->setAttributes(array(
                        'class' => 'quizQuestion validate',
                    ));
                $questionAdd->setValue($question['question']);
                $form->add($questionAdd);
            ?>
        <div class="br-2 br-light-gray p-2em mb-2em question-item">
            <div class="col-xs-12 col-sm-12 mb-2em">
                <div class="size-1em c-grey-input f-bold">
                    <?php echo $form->get("quiz[questions][$k][question]")->getLabel(); ?>
                </div>
                <div class="input-field input-profile">
                    <?php echo $this->formElement($form->get("quiz[questions][$k][question]")); ?>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 options-list">
                <div class="pb-1em">
                    <div class="size-1em c-grey-input f-bold">Answers *</div>
                </div>
                <?php if ($question['answers']) { ?>
                    <?php foreach ($question['answers'] as $i => $answer) { ?>
                        <?php
                            $answers = new Text("quiz[questions][$k][answers][]");
                            $answers->setLabel('Answers')
                                    ->setAttributes(array(
                                        'class' => 'quizAnswers validate',
                                    ));
                            $answers->setValue($answer);
                            $form->add($answers);
                        ?>
                    <div class="flex items-center nowrap mb-2em">
                        <div class="pb-1em">
                            <input name="quiz[questions][<?php echo $k; ?>][correctAnswer]" type="radio"
                                   id="val-<?=$k;?>-<?=$i;?>" class="correctAnswer" value="<?=$i;?>"
                                <?php echo $question['correctAnswer'] == $i ? 'checked="checked"' : ''; ?> />
                            <label for="val-<?=$k;?>-<?=$i;?>"></label>
                        </div>
                        <div class="input-field input-profile w100">
                            <?php echo $this->formElement($form->get("quiz[questions][$k][answers][]")); ?>
                        </div>
                    </div>
                    <?php } ?>
                <?php } ?>
            </div>
            <div class="col-xs-12 col-sm-12">
                <div class="flex flex-end">
                    <div>
                        <a href="#" class="add-option button button-green mr-0_5em">Add option</a>
                        <a href="#" class="remove-option button button-green mr-0_5em">Remove option</a>
                        <a href="#" class="remove-question button button-green mr-0_5em">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        <?php } ?>
    <?php } ?>
<?php } ?>

<script>
    $(document).ready(function() {
        $("#startDate").datepicker({
            dateFormat: "dd-mm-yy",
            maxDate: '0'
        });
    });
</script>
