<?php echo $this->doctype(); ?>
<?php
/**
 * @var \Application\View\Renderer $this
 */
?>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <?php echo $this->headTitle('S0m main page')->setSeparator(' - ')->setAutoEscape(false); ?>

    <!-- Le styles -->
    <?php echo $this->headLink(
        [
            'rel' => 'shortcut icon',
            'type' => 'image/vnd.microsoft.icon',
            'href' => $this->basePath('/img/favicon.ico')
        ]
    )
        ->appendStylesheet($this->basePath('/themes/s0m/css/plugins/normalize.css'))
        ->appendStylesheet($this->basePath('/themes/s0m/css/plugins/font-awesome.min.css'))
        ->appendStylesheet($this->basePath('/themes/s0m/css/plugins/materialize.min.css'))
        ->appendStylesheet($this->basePath('/themes/s0m/css/plugins/flexstrap.min.css'))
        ->appendStylesheet($this->basePath('/themes/s0m/css/plugins/flexstrap-assets.css'))
        ->appendStylesheet($this->basePath('/themes/s0m/css/main.css'))
        ->appendStylesheet('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700')
        ->appendStylesheet($this->basePath('/themes/s0m/css/plugins/jquery-ui.min.css'));
    ?>

    <!-- Scripts -->
    <?php echo $this->headScript()
        ->appendFile($this->basePath('/themes/s0m/js/plugins/jquery.min.js'))
        ->appendFile($this->basePath('/themes/s0m/js/plugins/fastclick.js'))
        ->appendFile($this->basePath('/themes/s0m/js/plugins/materialize.min.js'))
        ->appendFile($this->basePath('/themes/s0m/js/plugins/owl.carousel.min.js'))
        ->appendFile($this->basePath('/themes/s0m/js/plugins/jquery-ui.min.js'))
//        ->appendFile($this->basePath('/themes/s0m/js/plugins/angular.min.js'));
    ?>
</head>
<body data-ng-app="s0m" data-ng-controller="mainController">

<?php echo $this->partial('frontend/elements/social_scripts'); ?>

<?php echo $this->aepNavigation()->getTopMenu('frontend/menu/top_menu'); ?>

<?php echo $this->content; ?>

<?php echo $this->partial('frontend/elements/footer'); ?>

<?php echo $this->inlineScript()
    ->prependFile($this->basePath('/themes/s0m/js/app.js'));
?>
</body>
</html>