<?php
    $form->get("quiz[questions][0][question]")->setValue('');
    $form->get("quiz[questions][0][answers][]")->setValue('');
?>

<div class="templates display-none">
    <div class="br-2 br-light-gray p-2em mb-2em question-item">
        <div class="col-xs-12 col-sm-12 mb-2em">
            <div class="size-1em c-grey-input f-bold">
                <?php echo $form->get('quiz[questions][0][question]')->getLabel(); ?>
            </div>
            <div class="input-field input-profile">
                <?php echo $this->formElement($form->get('quiz[questions][0][question]')); ?>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 options-list">
            <div class="pb-1em">
                <div class="size-1em c-grey-input f-bold">Answers *</div>
            </div>
            <div class="flex items-center nowrap mb-2em">
                <div class="pb-1em">
                    <input name="quiz[questions][0][correctAnswer]" type="radio" id="val-0-0" class="correctAnswer" value="0" />
                    <label for="val-0-0"></label>
                </div>
                <div class="input-field input-profile w100">
                    <?php echo $this->formElement($form->get('quiz[questions][0][answers][]')); ?>
                </div>
            </div>
            <div class="flex items-center nowrap mb-2em">
                <div class="pb-1em">
                    <input name="quiz[questions][0][correctAnswer]" type="radio" id="val-0-1" class="correctAnswer" value="1" />
                    <label for="val-0-1"></label>
                </div>
                <div class="input-field input-profile w100">
                    <?php echo $this->formElement($form->get('quiz[questions][0][answers][]')); ?>
                </div>
            </div>
            <div class="flex items-center nowrap mb-2em">
                <div class="pb-1em">
                    <input name="quiz[questions][0][correctAnswer]" type="radio" id="val-0-2" class="correctAnswer" value="2" />
                    <label for="val-0-2"></label>
                </div>
                <div class="input-field input-profile w100">
                    <?php echo $this->formElement($form->get('quiz[questions][0][answers][]')); ?>
                </div>
            </div>
            <div class="flex items-center nowrap mb-2em">
                <div class="pb-1em">
                    <input name="quiz[questions][0][correctAnswer]" type="radio" id="val-0-3" class="correctAnswer" value="3" />
                    <label for="val-0-3"></label>
                </div>
                <div class="input-field input-profile w100">
                    <?php echo $this->formElement($form->get('quiz[questions][0][answers][]')); ?>
                </div>
            </div>
            <div class="flex items-center nowrap mb-2em">
                <div class="pb-1em">
                    <input name="quiz[questions][0][correctAnswer]" type="radio" id="val-0-4" class="correctAnswer" value="4" />
                    <label for="val-0-4"></label>
                </div>
                <div class="input-field input-profile w100">
                    <?php echo $this->formElement($form->get('quiz[questions][0][answers][]')); ?>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12">
            <div class="flex flex-end">
                <div>
                    <a href="#" class="add-option button button-green mr-0_5em">Add option</a>
                    <a href="#" class="remove-option button button-green mr-0_5em">Remove option</a>
                    <a href="#" class="remove-question button button-green mr-0_5em">Cancel</a>
                    <button type="submit" class="button button-green">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>