<section class="pt-5em-sm pt-4em-xs pb-3em-sm pb-2em-xs">
    <div class="container">
        <div class="flex-1em size-0_8em-sm size-1em-md">
            <?php echo $this->aepNavigation()->getPersonalOfficeLeftMenu('frontend/menu/professor_left_menu'); ?>
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="flex items-center pb-2em nowrap">
                    <div class="lh-1em size-1_2em"><em class="fa fa-bookmark-o fa-2x c-green" aria-hidden="true"></em></div>
                    <div class="pl-2em c-green lh-1_8em"><div class="size-1_4em"><span class="up">Chapters</span> / Create chapter / Final Quiz</div></div>
                </div>
                <div class="br-2 br-light-gray p-1em-xs p-2em-sm mb-2em" id="finalQuiz">
                    <div class="pb-1em">
                        <div class="size-1_2em c-black f-semi-bold">Quiz question</div>
                    </div>
                    <?php echo $this->partial('personal-office/item/quiz/quiz-form'); ?>
                    <div class="br-2 br-light-gray">
                        <a href="#" class="add-question display-inline-block p-1_8em up w100 text-center lh-1em">
                            <i class="fa fa-plus-square size-1_5em pr-1em" aria-hidden="true"></i>
                            <span class="size-1_4em">Add question</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
