<div class="text-left c-grey">
    <div class="pb-1em">
        <div class="size-1_2em c-black f-semi-bold">Questions</div>
    </div>
    <div class="child-mb-2em size-0_8em-xs size-1em-sm" id="sortItems">
        <?php $quizData = $this->item($item)->getQuizData(); ?>
        <?php $questions = $quizData->getQuizData(); ?>
        <?php if ($questions): ?>
        <?php foreach ($questions as $i => $question): ?>
                <div class="br-2 br-light-gray p-1em-xs p-2em-sm">
                    <div class="flex space-between nowrap">
                        <div class="flex items-center nowrap">
                            <div class="size-1em f-semi-bold">
                                <a href="#">
                                    <?= $question['question'] ?>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="pt-1em pb-2em"><div class="col-xs-12 col-sm-6"><div class="size-1em">Here goes the question actual question text?</div></div></div>
                    <?php $answers = $question['answers']; ?>
                    <?php if ($answers): ?>
                    <?php foreach ($answers as $k => $answer): ?>
                        <div>
                            <input name="group<?= $i ?>" type="radio" id="answer<?= $k ?>" />
                            <label for="answer<?= $k ?>"><?= $answer ?></label>
                        </div>
                    <?php endforeach; ?>
                    <?php endif; ?>
                </div>
        <?php endforeach; ?>
        <?php else: ?>
            <?= "There are no questions" ?>
        <?php endif; ?>
    </div>
</div>
