<section class="pt-5em-sm pt-4em-xs pb-3em-sm pb-2em-xs">
    <div class="container">
        <div class="flex-1em size-0_8em-sm size-1em-md">
            <?php echo $this->aepNavigation()->getPersonalOfficeLeftMenu('frontend/menu/professor_left_menu'); ?>
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="flex-1em-sm flex-0_5em-xs items-center nowrap pb-2em">
                    <div class="lh-1em size-1_2em"><em class="fa fa-bookmark-o fa-2x c-green" aria-hidden="true"></em></div>
                    <div class="c-green lh-1_8em"><div class="size-1_4em"><span class="up">Chapters</span> / Create issue</div></div>
                </div>

                <?php echo $this->partial('personal-office/item/form', ['form' => $form]); ?>

            </div>
        </div>
    </div>
</section>