<?php
/**
 * @var \Application\View\Renderer $this
 */

use Application\Entity\Course\Item\State;
use Zend\Form\Element\Text;

$this->headTitle('Chapter create');

$form->get('type')->setValueOptions(
    $this->selectOptionsHelper()->getIssueTypeValues()
);

$form->get('state')->setValueOptions([
    State::ACTIVE => 'Active',
    State::INACTIVE => 'Inactive',
]);

$form->get('video')->setAttributes([
    'class'=>'file-loading',
    'multiple'=>false,
]);

$form->get('audio')->setAttributes([
    'class'=>'file-loading',
    'multiple'=>false,
]);

$form->prepare();
?>

<?php echo $this->form()->openTag($form); ?>
<div class="br-2 br-light-gray p-2em mb-2em" id="sortItems">
    <div class="flex-1em">
        <div class="col-xs-12 col-sm-8 mb-2em">
            <div class="size-1em c-grey-input f-bold">
                <?php echo $form->get('name')->getLabel(); ?>
            </div>
            <div class="input-field input-profile">
                <?php echo $this->formElement($form->get('name')); ?>
                <?php echo $this->formElementErrors($form->get('name')); ?>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 mb-2em">
            <div class="size-1em c-grey-input f-bold up">
                <?php echo $form->get('type')->getLabel(); ?>
            </div>
            <div class="input-field input-profile">
                <?php echo $this->formElement($form->get('type')); ?>
                <?php echo $this->formElementErrors($form->get('type')); ?>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12">
            <div class="size-1em c-grey-input f-bold up mb-1em">
                <?php echo $form->get('description')->getLabel(); ?>
            </div>
            <div class="input-field w100">
                <?php echo $this->formElement($form->get('description')); ?>
                <?php echo $this->formElementErrors($form->get('description')); ?>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 mb-2em">
            <div class="input-field input-profile">
                <?php echo $this->formElement($form->get('isFree')); ?>
                <?php echo $this->formLabel($form->get('isFree')); ?>
                <?php echo $this->formElementErrors($form->get('isFree')); ?>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 mb-2em">
            <div class="size-1em c-grey-input f-bold up">
                <?php echo $form->get('startDate')->getLabel(); ?>
            </div>
            <div class="input-field input-profile">
                <?php echo $this->formElement($form->get('startDate')); ?>
                <?php echo $this->formElementErrors($form->get('startDate')); ?>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 mb-2em">
            <div class="size-1em c-grey-input f-bold">
                <?php echo $form->get('state')->getLabel(); ?>
            </div>
            <div class="input-field input-profile">
                <?php echo $this->formElement($form->get('state')); ?>
                <?php echo $this->formElementErrors($form->get('state')); ?>
            </div>
        </div>

        <div id="article" class="col-xs-12 col-sm-12 select-tab-content"
             style="display: <?php echo $form->get('type')->getValue() == 'article' ? 'block' : 'none'; ?>">
            <div class="size-1em c-grey-input f-bold up mb-1em">
                <?php echo $form->get('content')->getLabel(); ?>
            </div>
            <div class="input-field w100">
                <?php echo $this->formElement($form->get('content')); ?>
                <?php echo $this->formElementErrors($form->get('content')); ?>
            </div>
        </div>
        <div id="audio" class="col-xs-12 col-sm-12 select-tab-content"
             style="display: <?php echo $form->get('type')->getValue() == 'audio' ? 'block' : 'none'; ?>">
            <div class="size-1em c-grey-input f-bold up mb-1em">
                <?php echo $form->get('audio')->getLabel(); ?>
            </div>
            <div class="input-field w100">
                <?php echo $this->formElement($form->get('audio')); ?>
                <?php echo $this->formElementErrors($form->get('audio')); ?>
            </div>
        </div>
        <div id="image" class="col-xs-12 col-sm-12 select-tab-content"
             style="display: <?php echo $form->get('type')->getValue() == 'image' ? 'block' : 'none'; ?>">
            <div class="size-1em c-grey-input f-bold up mb-1em">
                <?php echo $form->get('image')->getLabel(); ?>
            </div>
            <div class="input-field w100">
                <?php echo $this->formElement($form->get('image')); ?>
                <?php echo $this->formElementErrors($form->get('image')); ?>
            </div>
        </div>
        <div id="video" class="col-xs-12 col-sm-12 select-tab-content"
             style="display: <?php echo $form->get('type')->getValue() == 'video' ? 'block' : 'none'; ?>">
            <div class="size-1em c-grey-input f-bold up mb-1em">
                <?php echo $form->get('video')->getLabel(); ?>
            </div>
            <div class="input-field w100">
                <?php echo $this->formElement($form->get('video')); ?>
                <?php echo $this->formElementErrors($form->get('video')); ?>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 text-right">
            <?php echo $this->formElement($form->get('submit')); ?>
        </div>

    </div>

    <div id="quiz" class="br-2 br-light-gray p-1em-xs p-2em-sm mb-2em select-tab-content"  style="display: <?php echo $form->get('type')->getValue() == 'quiz' ? 'block' : 'none'; ?>">
        <div class="pb-1em">
            <div class="size-1_2em c-black f-semi-bold">Quiz question</div>
        </div>
        <?php echo $this->partial('personal-office/item/quiz/quiz-form'); ?>
        <div class="br-2 br-light-gray">
            <a href="#" class="add-question display-inline-block p-1_8em up w100 text-center lh-1em">
                <i class="fa fa-plus-square size-1_5em pr-1em" aria-hidden="true"></i>
                <span class="size-1_4em">Add question</span>
            </a>
        </div>
    </div>

</div>

<?php echo $this->form()->closeTag(); ?>

<?php echo $this->partial('personal-office/item/quiz/template'); ?>

<script>
    $(document).ready(function() {
        $("#startDate").datepicker({
            dateFormat: "dd-mm-yy",
            maxDate: '0'
        });
    });
</script>

<?php
$previewArr = (!empty($item)) ? $this->item($item)->getItemPreviewS3Files($form) : [
    'video' => [],
    'audio' => [],
    'image' => []
];
?>
<script>
    $(function(){
        $.fileInputS0m.initPersonalOfficeProfile({
            selector : "input#image",
            previewArr : <?= \GuzzleHttp\json_encode($previewArr['image']) ?>
        });
        $.fileInputS0m.initPersonalOfficeProfile({
            selector : "input#video",
            valueInputSelector : "input#video",
            previewArr : <?= \GuzzleHttp\json_encode($previewArr['video']) ?>
        });
        $.fileInputS0m.initPersonalOfficeProfile({
            selector : "input#audio",
            previewArr : <?= \GuzzleHttp\json_encode($previewArr['audio']) ?>
        });
    });
</script>
