<section class="flex">

    <?php echo $this->aepNavigation()->getLeftMenu('personal-office/menu/left_menu'); ?>

    <div class="col-xs-12 col-sm-8 col-md-10 center p-1em flex">
        <div class="col-xs-12 col-sm-10 col-md-8 center pb-3em">
            <div class="flex-1em items-center space-between pt-2em pb-3em">
                <div>
                    <div class="flex items-center size-1_6em size-1_3em-xs">
                        <div><em class="fa fa-bookmark-o fa-2x c-green" aria-hidden="true"></em></div>
                        <div class="pl-2em up c-green lh-1em">
                            <?= $this->course($item->getChapter()->getCourse())->getChapterOrderedHeader($item->getChapter()) ?>
                            /
                            <?= $this->chapter($item->getChapter())->getItemOrderedHeader($item) ?>
                        </div>
                    </div>
                </div>
                <div><a href="#" class="button button-green">Mark as completed</a></div>
            </div>

            <?php $itemTypeInfo = $this->item($item)->getItemTypeInfo(); ?>

            <div class="br-2 br-gray p-2em mb-2em">
                <div class="flex-1em items-center pb-2em">
                    <div class="lh-1em">
                        <em class="c-green fa <?= $itemTypeInfo['iconClassItem'] ?> fa-2x" aria-hidden="true"></em>
                    </div>
                    <div class="size-0_9em-sm size-1_2em-md size-1_5-lg c-black f-semi-bold text-left">
                        <?= $item->getName() ?>
                    </div>
                </div>
                <?php echo $this->partial($itemTypeInfo['partialView'], ['item' => $item]); ?>
            </div>

            <div class="br-2 br-gray p-2em">
                <div class="flex-1em items-center pb-2em">
                    <div class=""><em class="c-green fa fa-weixin fa-3x" aria-hidden="true"></em></div>
                    <div class="size-1_3em c-black f-semi-bold">Ask the professor</div>
                </div>
                <div class="pb-1em">
                    <div class="input-field">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Write your message</label>
                    </div>
                </div>
                <div class="flex space-between">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            <input type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Attach files">
                        </div>
                    </div>
                    <div><button class="button button-green" type="submit">Submit</button></div>
                </div>
            </div>
            <div class="br-2 br-gray p-2em child-pb-1em">
                <div class="flex-1em">
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1"><img src="<?php echo $this->basePath(
                            'themes/s0m/img/cover-images/smile.png'
                        ); ?>" alt=""></div>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
                        <div class="flex-1em space-between pb-1em">
                            <div class="size-1em c-black f-semi-bold">Larry Randles Lagerstrom (Professor)</div>
                            <div class="size-1em c-grey f-semi-bold">20 minutes ago</div>
                        </div>
                        <div class="text-left c-grey">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eveniet id illo modi nisi numquam rem repellendus rerum, sit sunt! Eaque id itaque necessitatibus provident tempore. Alias doloribus porro quibusdam! A accusamus incidunt nobis placeat sunt? Accusamus aliquid commodi corporis, dolorum ducimus inventore, maiores praesentium provident quia quis rem sed?</p>
                        </div>
                    </div>
                </div>
                <div class="flex-1em">
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1"><img src="<?php echo $this->basePath(
                            'themes/s0m/img/cover-images/smile.png"'
                        ); ?>" alt=""></div>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
                        <div class="flex-1em space-between pb-1em">
                            <div class="size-1em c-black f-semi-bold">Jonathan Smith (You)</div>
                            <div class="size-1em c-grey f-semi-bold">5 hours ago</div>
                        </div>
                        <div class="text-left c-grey">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eveniet id illo modi nisi numquam rem repellendus rerum, sit sunt! Eaque id itaque necessitatibus provident tempore. Alias doloribus porro quibusdam! A accusamus incidunt nobis placeat sunt? Accusamus aliquid commodi corporis, dolorum ducimus inventore, maiores praesentium provident quia quis rem sed?</p>
                        </div>
                    </div>
                </div>
                <div class="flex-1em">
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1"><img src="<?= $this->basePath(
                            'themes/s0m/img/cover-images/smile.png'
                        ); ?>" alt=""></div>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
                        <div class="flex-1em space-between pb-1em">
                            <div class="size-1em c-black f-semi-bold">Larry Randles Lagerstrom (Professor)</div>
                            <div class="size-1em c-grey f-semi-bold">5:24 PM, 27.12.2017</div>
                        </div>
                        <div class="text-left c-grey">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eveniet id illo modi nisi numquam rem repellendus rerum, sit sunt! Eaque id itaque necessitatibus provident tempore. Alias doloribus porro quibusdam! A accusamus incidunt nobis placeat sunt? Accusamus aliquid commodi corporis, dolorum ducimus inventore, maiores praesentium provident quia quis rem sed?</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <a href="#"class="button button-green w100"> show all 23 messages</a>
                </div>
            </div>
        </div>
    </div>
</section>