<?php
/**
 * @var \Application\View\Renderer $this
 */

$this->headTitle('Sign in');

$form->get('email')->setAttributes([
    'class' => 'validate',
    'required' => true,
    'autofocus' => true
])
    ->setLabelAttributes([
    ]);

$form->get('password')->setAttributes([
    'class' => 'validate',
    'required' => true,
]);

$form->get('submit')->setAttributes(
    [
        'value' => 'Submit',
        'class' => 'button button-green'
    ]
);

$form->prepare();
?>

<section
        class="bc-lightgray pt-3em pb-3em h100vh"
        style="background: url('<?php echo $this->basePath(); ?>/themes/s0m/img/top-photo.jpg') no-repeat center top / cover">
    <div class="container">
        <div class="flex-1em column center items-center">
            <div class="pt-2em pb-4em w100">
                <div class="size-2em f-medium up c-white">
                    <a href="<?php echo $this->url('frontend'); ?>">
                        <img src="<?php echo $this->basePath(
                            'themes/s0m/img/s0m_logo.png'
                        ); ?>" alt="">
                    </a>
                </div>
            </div>
            <div class="col-sm-7 col-md-6 col-lg-5">
                <div class="bc-white p-3em box-shadow">
                    <div class="pb-2em">
                        <div class="size-1_2em f-bold c-black">Sign in to your account</div>
                    </div>
                    <?php echo $this->form()->openTag($form); ?>
                    <div class="pb-1em child-pb-1em">
                        <div class="input-field login-aep">
                            <i class="input-icon i-mail"></i>
                            <?php echo $this->formElement($form->get('email')); ?>
                            <?php echo $this->formLabel($form->get('email')); ?>
                            <?php echo $this->formElementErrors($form->get('email')); ?>
                        </div>
                        <div class="input-field login-aep">
                            <i class="input-icon i-password"></i>
                            <?php echo $this->formElement($form->get('password')); ?>
                            <?php echo $this->formLabel($form->get('password')); ?>
                            <?php echo $this->formElementErrors($form->get('password')); ?>
                        </div>
                    </div>
                    <div class="flex-1em flex-0_5em-sm items-center center space-between-sm">
                        <div class="col-xs-12 col-sm-8 order-xs-2">
                            <div class="flex items-center center-xs pl-1em pr-1em">
                                <div class="pr-0_5em">
                                    <div class="size-1em-xs size-1_2em-sm">
                                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="size-0_9em-xs size-1em-sm f-bold">
                                    <a href="<?php echo $this->url('frontend/reset-password'); ?>">
                                        Forgot your password?
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 order-xs-1">
                            <div class="display-inline-bloc text-right mb-1em-xs">
                                <?php echo $this->formElement($form->get('submit')); ?>
                            </div>
                        </div>
                    </div>
                    <?php echo $this->form()->closeTag(); ?>
                    <?php echo $this->partial('frontend/elements/social'); ?>
                    <div class="flex center">
                        <div class="pt-1em">
                            <div class="size-0_8em-xs size-1em-sm">New here?
                                <a href="<?php echo $this->url('frontend/signup'); ?>">
                                    <span class="f-bold"> Create an account!</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>