<?php
/**
 * @var \Application\View\Renderer $this
 */

$form->get('email')->setAttributes([
    'class'=>'validate',
]);

$form->get('submit')->setAttributes(
    [
        'value' => 'Submit',
        'class' => 'display-inline-block button-green-out w100'
    ]
);

$form->prepare();
?>

<section class="bc-lightgray pt-3em pb-3em h100vh"
         style="background: url('<?php echo $this->basePath(); ?>/themes/s0m/img/top-photo.jpg') no-repeat center top / cover">
    <div class="container">
        <div class="flex-1em column center items-center">
            <div class="pt-2em pb-4em w100">
                <div class="size-2em f-medium up c-white">Logo</div>
            </div>
            <div class="col-sm-7 col-md-6 col-lg-5">
                <div class="bc-white p-3em box-shadow">
                    <div class="pb-1em">
                        <div class="pt-1em pb-2em">
                            <img src="<?php echo $this->basePath(); ?>/themes/s0m/img/icons/lock.png" alt="done">
                        </div>
                    </div>
                    <div class="pb-0_5em">
                        <div class="size-1_3em f-bold c-black">Restore password</div>
                    </div>
                    <div class="pb-1em pl-1em pr-1em">
                        <div class="size-1em f-light c-black">Please provide the e-mail linked to your account</div>
                    </div>
                    <?php echo $this->form()->openTag($form); ?>
                    <div class="pb-2em child-pb-1em">
                        <div class="input-field login-aep">
                            <i class="input-icon i-mail"></i>
                            <?php echo $this->formElement($form->get('email')); ?>
                            <?php echo $this->formLabel($form->get('email')); ?>
                            <?php echo $this->formElementErrors($form->get('email')); ?>
                        </div>
                    </div>
                    <div class="flex-1em flex-0_5em-sm center">
                        <div class="col-sm-5 order-xs-1">
                            <div class="display-inline-bloc text-center">
                                <?php echo $this->formElement($form->get('submit')); ?>
                            </div>
                        </div>
                    </div>
                    <?php $this->form()->closeTag(); ?>
                </div>
            </div>
        </div>
    </div>
</section>