<?php
/**
 * @var \Application\View\Renderer $this
 */

$this->headTitle('Sign up');

$form->get('fullName')->setAttributes([
    'class'=>'validate m0',
]);

$form->get('email')->setAttributes([
    'class'=>'validate',
]);

$form->get('password')->setAttributes([
    'class'=>'validate'
]);

$form->get('birthday')->setAttributes([
    'class'=>'validate'
]);

$form->get('submit')->setAttributes(
    [
        'value' => 'Submit',
        'class' => 'display-inline-block button-green-out w100'
    ]
);

$form->prepare();
?>


<section
    class="bc-lightgray pt-3em pb-3em h100vh"
    style="background: url('<?php echo $this->basePath(); ?>/themes/s0m/img/top-photo.jpg') no-repeat center top / cover">
    <div class="container">
        <div class="flex-1em column center items-center">
            <div class="pt-2em pb-4em w100">
                <div class="size-2em f-medium up c-white">
                    <a href="<?php echo $this->url('frontend'); ?>">
                        <img src="<?php echo $this->basePath(
                            'themes/s0m/img/s0m_logo.png'
                        ); ?>" alt="">
                    </a>
                </div>
            </div>
            <div class="col-sm-7 col-md-6 col-lg-5">
                <div class="bc-white p-3em box-shadow">
                    <div class="pb-2em">
                        <div class="size-1_2em f-bold c-black">Create new account</div>
                    </div>
                    <?php echo $this->form()->openTag($form); ?>
                        <div class="pb-1em child-pb-1em">
                            <div class="input-field login-aep">
                                <i class="input-icon i-user"></i>
                                <?php echo $this->formElement($form->get('fullName')); ?>
                                <?php echo $this->formLabel($form->get('fullName')); ?>
                                <?php echo $this->formElementErrors($form->get('fullName')); ?>
                            </div>
                            <div class="input-field login-aep">
                                <i class="input-icon i-mail"></i>
                                <?php echo $this->formElement($form->get('email')); ?>
                                <?php echo $this->formLabel($form->get('email')); ?>
                                <?php echo $this->formElementErrors($form->get('email')); ?>
                            </div>
                            <div class="input-field login-aep">
                                <i class="input-icon i-password"></i>
                                <?php echo $this->formElement($form->get('password')); ?>
                                <?php echo $this->formLabel($form->get('password')); ?>
                                <?php echo $this->formElementErrors($form->get('password')); ?>
                            </div>
                            <div class="input-field login-aep">
                                <?php echo $this->formElement($form->get('birthday')); ?>
                                <?php echo $this->formLabel($form->get('birthday')); ?>
                                <?php echo $this->formElementErrors($form->get('birthday')); ?>
                            </div>
                        </div>
                        <div class="flex-1em flex-0_5em-sm center">
                            <div class="col-sm-4 order-xs-1">
                                <div class="display-inline-bloc text-center">
                                    <?php echo $this->formElement($form->get('submit')); ?>
                                </div>
                            </div>
                            <div class="pt-2em pb-1em">
                                <div class="size-1em c-black f-medium">By signing up to create an account I accept
                                    <a href="#" class="f-bold">the Terms of Use</a> and
                                    <a href="#" class="f-bold">Privacy Policy</a>.
                                </div>
                            </div>
                        </div>
                    <?php echo $this->form()->closeTag(); ?>
                    <?php echo $this->partial('frontend/elements/social'); ?>
                    <div class="flex center">
                        <div class="pt-1em">
                            <div class="size-0_8em-xs size-1em-sm">
                                Already have an account?
                                <a href="<?php echo $this->url('frontend/login'); ?>" class="f-bold">
                                    Log in here!
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function() {
        $( "#birthDate" ).datepicker({
            dateFormat: "dd-mm-yy",
            maxDate: '0'
        });
    });
</script>