<section
        class="bg-cover c-white pt-9em-sm pt-4em-xs pb-9em-sm pb-5em-xs"
        style="background-image: url('<?php echo $this->basePath(); ?>/themes/s0m/img/promos/homepage-promo.jpg')">
    <div class="container">
        <div class="flex center text-center size-0_9em-xs">
            <div class="col-md-8 col-sm-10 col-xs-12">
                <div class="h0 f-bold">Best learning experience</div>
                <div class="size-1_2em">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto consequatur ducimus est eveniet excepturi impedit itaque labore molestias, nesciunt, officiis quas qui quibusdam rem similique suscipit ullam velit veniam.</div>
                <div class="pt-3em">
                    <a href="uniwebview://openAvatar?avatarType=Default" class="waves-effect button button-green size-1_3em up myButton">Join us now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-5em pb-4em">
    <div class="container">
        <div class="pb-4em flex center">
            <div class="h7 title-lines up f-bold">Featured course</div>
        </div>
        <div class="flex center">
            <div class="col-xs-12 col-sm-10">
                <div
                        class="ml--1_5em-xs mr--1_5em-xs bg-cover c-white p-3em pb-4em"
                        style="background-image: url('<?php echo $this->basePath(); ?>/themes/s0m/img/promos/homepage-start-treck.jpg')">
                    <div class="pt-1em pb-2em text-center">
                        <div class="c-green pb-0_5em">
                            <div class="fa fa-bookmark-o size-3_5em" aria-hidden="true"></div>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="f-bold h2">Star Trek</div>
                    </div>
                    <div class="flex-1em center">
                        <div class="col-sm-8 col-xs-12">
                            <div class="pb-2em-xs pb-3em-sm text-center">
                                <div class="size-1_1em">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="#" class="waves-effect button button-green-out c-white">Subscribe to this course</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-1em center items-center pt-4em">
            <div>
                <img class="width-5em" src="<?php echo $this->basePath(
                    'themes/s0m/img/icons/icon-course-green.png'
                ); ?>" alt="icon">
            </div>
            <div class="text-left">
                <div class="up f-bold h6">This course contains</div>
                <div>3 chapters, 29 issues, 4 quizes</div>
            </div>
        </div>
    </div>
</section>
<section class="bc-green-effect pt-6em-sm pt-5em-xs pb-5em-sm pb-6em-xs">
    <div class="container ">
        <div class="flex center text-left">
            <div class="col-xs-12 col-sm-10">
                <div class="flex-1em space-between nowrap-sm">
                    <div class="col-xs-12 col-sm-6 pb-1em-xs">
                        <div class="pb-1em">
                            <div class="h1 f-bold">Why subscribe to this course?</div>
                        </div>
                        <div class="pb-1em">
                            <div class="size-1_2em">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <div class="bc-white block-shadow br br-lightgray text-center p-3em">
                            <div class="pb-1em">
                                <img class="width-7em" src="<?php echo $this->basePath(
                                    'themes/s0m/img/icons/pased.png'
                                ); ?>" alt="icon">
                            </div>
                            <div class="mb-0_2em">
                                <div class="size-2_5em f-bold">1340</div>
                            </div>
                            <div class="size-1_3em f-medium">Student pased this <br> course</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-5em pb-3em-sm pb-2em-xs text-center-xs">
    <div class="container">
        <div class="pb-2em-sm pb-4em-xs flex center">
            <div class="h7 title-lines up f-bold">What you will learn</div>
        </div>
        <div class="flex-2em child-col-sm-6 pt-3em-sm child-pb-2em">
            <div>
                <div class="flex-1em nowrap-sm">
                    <div class="width-7em-sm col-xs-12 pb-1em-xs text-center">
                        <img src="<?php echo $this->basePath(
                            'themes/s0m/img/icons/avantage1.png'
                        ); ?>" alt="icon">
                    </div>
                    <div class="col-sm-9">
                        <div class="h6 f-bold pb-0_5em">Advantaje title number one</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer finibus lacus ut nulla commodo, at
                            fringilla quam facilisis. Curabitur convallis felis vel est tempus, at mollis sapien interdum.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="flex-1em nowrap-sm">
                    <div class="width-7em-sm col-xs-12 pb-1em-xs text-center">
                        <img src="<?php echo $this->basePath(
                            'themes/s0m/img/icons/avantage2.png'
                        ); ?>" alt="icon">
                    </div>
                    <div class="col-sm-9">
                        <div class="h6 f-bold pb-0_5em">Advantaje title number one</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer finibus lacus ut nulla commodo, at
                            fringilla quam facilisis. Curabitur convallis felis vel est tempus, at mollis sapien interdum.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="flex-1em nowrap-sm">
                    <div class="width-7em-sm col-xs-12 pb-1em-xs text-center">
                        <img src="<?php echo $this->basePath(
                            'themes/s0m/img/icons/avantage3.png'
                        ); ?>" alt="icon">
                    </div>
                    <div class="col-sm-9">
                        <div class="h6 f-bold pb-0_5em">Advantaje title number one</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer finibus lacus ut nulla commodo, at
                            fringilla quam facilisis. Curabitur convallis felis vel est tempus, at mollis sapien interdum.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="flex-1em nowrap-sm">
                    <div class="width-7em-sm col-xs-12 pb-1em-xs text-center">
                        <img src="<?php echo $this->basePath(
                            'themes/s0m/img/icons/avantage4.png'
                        ); ?>" alt="icon">
                    </div>
                    <div class="col-sm-9">
                        <div class="h6 f-bold pb-0_5em">Advantaje title number one</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer finibus lacus ut nulla commodo, at
                            fringilla quam facilisis. Curabitur convallis felis vel est tempus, at mollis sapien interdum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section
        class="pt-4em pb-6em bg-cover c-white"
        style="background-image: url('<?php echo $this->basePath(); ?>/themes/s0m/img/bg/bg-join.jpg')">
    <div class="container">
        <div class="flex-2em center items-center text-center">
            <div class="w100 f-light size-1_7em pb-1em pt-1em">
                Get access to the <strong>greatest database</strong> and the <strong>best learning experience</strong>!
            </div>
            <div class="w100">
                <a href="#" class="waves-effect button button-green up size-1_2em">Join us now</a>
            </div>
        </div>
    </div>
</section>
<script>

    var userAgent = navigator.userAgent || navigator.vendor || window.opera;

    function isIOS() {
        if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
            return true;
        } else {
            return false;
        }
    }

    function isAndroid() {
        return (/android/i.test(userAgent));
    }

    function appendIframeWithURL(url) {
        var iframe = document.createElement("IFRAME");
        iframe.setAttribute("src", url);
        document.documentElement.appendChild(iframe);
        iframe.parentNode.removeChild(iframe);
        iframe = null;
    }

    function sendMessageToUnity(message) {
        if (isIOS()) {
            appendIframeWithURL('inappbrowserbridge://' + message);
        } else if (isAndroid()){
            UnityInAppBrowser.sendMessageFromJS(message);
        }
    }

    function sendPing() {
        console.log('aaaaaaaaaaaaaaaaaa');
        sendMessageToUnity("ping");
    }

</script>
