<?php
/**
 * @var \Application\View\Renderer $this
 */
?>

<?php
$this->headTitle('Edit Static Page');

$form = $this->form;

$form->get('content')->setAttributes([
    'class'=>'editor',
    'placeholder'=>'Content'
]);
$form->get('javascript')->setAttributes([
    'class'=>'materialize-textarea',
    'placeholder'=>'JavaScript code'
]);
$form->get('submit')->setAttributes(['class'=>'waves-effect waves-light btn green m-b-xs']);
$form->get('submit')->setValue('Save');
?>


<main class="mn-inner">
    <div class="page-title">Static pages</div>
    <div class="mt-2em">
        <?php echo $this->form()->openTag($form); ?>
        <div class="flex-1em w100">
            <div class="col-xs-12 col-sm-12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Add page</span>

                        <div class="flex-1em child-col-sm-12 child-col-xs-12">
                            <?php foreach ($form as $element):?>
                            <?php if ($element->getAttribute('id') == 'submitbutton'):?>

                        </div>
                        <div class="pt-2em flex-0_5em flex-end">
                            <?= $this->formElement($element); ?>
                        </div>
                        <?php continue; ?>
                        <?php endif;?>
                        <div class="input-field">
                            <?= $this->formElement($element); ?>
                            <?= $this->formElementErrors($element); ?>
                        </div>
                        <?php endforeach;?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php echo $this->form()->closeTag(); ?>
    </div>
</main>


