<?php
/**
 * @var \Application\View\Renderer $this
 * @var \StaticPages\Entity\Page[] $pages
 */
?>

<main class="mn-inner">
    <div class="row">
        <div class="col s12">
            <div class="page-title">Static Pages</div>
        </div>
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <?php if ($pages) { ?>
                        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>State</th>
                                <th>Alias</th>
                                <th class="width-5em">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach ($pages as $page) { ?>
                                <tr>
                                    <td><?= $page->getName() ?></td>
                                    <td><?= $page->getState()->getValue() ?></td>
                                    <td><?= $page->getAlias() ?></td>
                                    <td>
                                        <a class="btn-floating waves-effect waves-light size-0_7em show-on-hover" href="<?php echo $this->url('backend/static-pages/actions', ['action' => 'edit', 'id' => $page->getIdentity()]); ?>">
                                            <i class="material-icons">mode_edit</i>
                                        </a>
                                        <a class="btn-floating waves-effect waves-light red size-0_7em show-on-hover modal-trigger ml-0_5em" href="<?php echo $this->url('backend/static-pages/actions', ['action' => 'delete', 'id' => $page->getIdentity()]); ?>">
                                            <i class="material-icons">delete</i>
                                        </a>
                                    </td>
                                </tr>
                            <?php } ?>
                            </tbody>
                        </table>
                    <?php } else { ?>
                        <div class="cyan lighten-4 p-2em">No items.</div>
                    <?php } ?>
                    <div class="pt-2em flex-0_5em flex-end">
                        <div>
                            <a href="<?php echo $this->url('backend/static-pages/create'); ?>" class="waves-effect waves-light btn green m-b-xs">Add</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
